<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <!--<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">-->
    <link rel="stylesheet" href="css/lightbox.css">
    <link href="Content/trNgGrid.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/angular.min.js"></script>
    <script src="App/App.js"></script>
    <script src="App/carSvc.js"></script>
    <script src="App/myCtrl.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>